*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.heading{
  text-align: center;
  font-size: 40px;
  padding: 80px 0 50px;
  color: #fff;
  background-color: #262B31;
}

.secondryHeading{
  text-align: center;
  margin: 30px 0;
  /* font-weight: 600; */
}

.script{
  width: 70%;
  text-align: justify;
  margin-left:220px;
  padding-bottom: 40px;
  
  line-height: 24px;
  font-size: 15px;
  color: #323232;
  
}

.highlightsSection{
  padding-left: 220px;
  padding-bottom: 60px;
  
  
  background-color: #f5f5f5;
}

.highlightsHeading{
  font-size: 25px;
  padding: 50px 0 30px 0;
}

.milestoneHeading{
  border: none;
  /* display: block; */
  padding: 15px 950px 15px 10px;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
  color: #191919;
  background-color: #ffcc00;
}


.innovativeProjectsHeading{
  border: none;
  /* display: block; */
  padding: 15px 740px 15px 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #191919;
  background-color: #ffcc00;
}


.recordsByStudentsHeading{
  border: none;
  /* display: block; */
  padding: 15px 580px 15px 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #191919;
  background-color: #ffcc00;
}

/* .highlights:hover{
  cursor: pointer;
} */

.list{
  display: none;
  
}

.first{
  width: 33%;
}

.milestoneHeading:hover +.list{
  display: flex;
  position: absolute;
  background-color: #f5f5f5;
  justify-content: center;
  color: #727272;
}


.pageBottom{
  display: flex;
  justify-content: space-evenly;
  background-color: #22252c;
  padding: 40px;
  color: #c4c4c4;
  font-size: 18px;
  line-height: 22px;
}

.adm{
  color:#ffcb00;
}

ul{
  margin-left: 40px;
}