*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.content{
  width: 
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #252525; */
}


.top div{
  margin: 5px 20px 20px 0;
}

.top-2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding-right: 14%;
}

.top-2 div{
  padding: 10px;
  color: #fff;
}

.top-3 div{
  padding: 10px;
  color: #fff;
  
}

.top-3 div p{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.top-2 div a{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}


.top-3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding-right: 30%;
  padding-top: 10px;
  border-bottom: 2px solid #ffcc00;
  /* position: absolute; */
  /* left: 10%; */
}
  






.top-2 div a{
  text-decoration: none;
}  

.top-2 div a:hover{
  color: #ffcc00;
  background-color: #262b31;
}

.top-3 div p:hover{
  color: #ffcc00;
  background-color: #262b31;
}


.akgec-heading .name{
  font-size: 30px;
  font-weight: bold;
}

.image img{
  height: 70px;
  width: 70px;
}

.link a{
  text-decoration: none;
  color: #fff;
  background-color: maroon;
  font-size: 16px;
}

.options a{
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
  font-weight: bold;
}

.options p{
  color: #fff;
}
.options{
  display: none;
}



.options a:hover{
  color:#ffcc00;
}

.about-btn:hover + .options{
  display: flex;
  position: absolute;
  left: 12%;
  background-color: #252525;
  transition: height 0.5s;
}

.dep-options {
  display: none;
  
}

.dep-options a{
  display: inline-block;
  padding: 10px;
}


.dep-btn:hover +.dep-options{
  display: flex;
  position: absolute;
  background-color: #252525;

}

.aca-content{
  display: none;
}

.aca-content a{
  display: inline-block;
  padding: 10px;
}
.aca-btn:hover + .aca-content{
  display: flex;
  position:absolute;
  background-color: #252525;
}

/* .adm-btn{
  color: red;
} */

.adm-content{
  display: none;
}

.adm-content a{
  display: inline-block;
  padding: 10px;
}

.adm-content p{
  font-size: 10px;
  margin-left: 20px;
}
.adm-btn:hover + .adm-content{
  display: flex;
  position:absolute;
  background-color: #252525;
}




.rnd-content{
  display: none;
}

.rnd-content a{
  display: inline-block;
  padding: 10px;
}

.rnd-content p{
  font-size: 10px;
  margin-left: 20px;
}
.rnd-btn:hover + .rnd-content{
  display: flex;
  position:absolute;
  background-color: #252525;
}


.ach-content{
  display: none;
}

.ach-content a{
  display: inline-block;
  padding: 10px;
}
.ach-btn:hover + .ach-content{
  display: flex;
  position:absolute;
  background-color: #252525;
}


iframe{
  width: 100%;
  height: 600px;
}